
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
  }
  
  body {
    background-image: url(./background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #2a3594;
  }

.container {
    width: 60%;
    display: flex;
    margin: 5% auto;
    background: #a0c5d3;
    
}

div {
    border-radius: 10px;
}
.left {
    width: 35%;
    padding: 2%;
    background: #1f90c4;
    color: #cce2eb;
    border-top-right-radius: 50%;
}

.left hr  {
    margin-bottom: 3%;
    margin-top: 3%;
}

.left .foto_profile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding-bottom: 5%;
    
}
.left .foto_profile img {
    width: 80%;
    border-radius: 50%;
    
}
.left .profile {
    padding-bottom: 5%;
    
}

.left .contact {
    padding-bottom: 5%;
}
.left .logo {
    width: 1vw;
    height: 2vw;
    color: #fff;
    float: left;
    margin-right: 1vw;
  }

.left .social_media {
    padding-bottom: 5%;
}

.right {
    width: 65%;
    padding: 3%;
    background: #ffffff;
    font-weight: bold;
    border-top-left-radius: 100%;
    opacity: 0.8;
}

.right .name h1 {
    color: #1f90c4;
    opacity: 2;
}

.right .name h3 {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
}

.right h2 {
    font-size: 1vw;
}

.right hr  {
    margin-top: 2%;
    margin-bottom: 2%;
}
.right .education {
    padding-bottom: 1%;
    position: relative;
}


.right .year {
    float: left;
    width: 23%;
    margin-left: 4%;
    padding: 1% 0;
}

.education ul li {
    position: relative;  
}
.education li:after {
    content: "";
    position: absolute;
    top: 15%;
    left: 23%;
    width: 1.5%;
    height: 15%;
    border-radius: 50%;
    background-color:  #2b798f ;
}
  
.education li:before {
    content: "";
    position: absolute; 
    top: 15%;
    left: 23.5%;
    width: 0.5%;
    height: 100%;
    background: #555555 ;
}
  
.right .organization {
    padding-bottom: 1%;
}
.organization ul li {
    position: relative;
    height: 5%;  
}

.organization li:after {
    content: "";
    position: absolute;
    top: 15%;
    left: 23%;
    width: 1.5%;
    height: 15%;
    border-radius: 50%;
    background-color:  #2b798f ;
}
  
.organization li:before {
    content: "";
    position: absolute; 
    top: 15%;
    left: 23.5%;
    width: 0.5%;
    height: 100%;
    background: #555555;
}

.right .skill_character {
    padding-bottom: 1%;
}

.right .skill_character .skill{
    font-weight: bold;
    width: 50% ;
    float :left;
  }
  .bold {
    font-weight: bold;
  }
  .right .skill_character .character{
    font-weight: bold;
    width:50% ;
    float: right;
  }
.right .skill_character ul li {
    display: flex;
  margin-bottom: 10px;
  color: #555555;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  font-weight: bold;
}

.right .skill_character ul li .skill_name {
    width: 30%;
}

.right .skill_character ul li .skill_progress {
    width: 60%;
    height: 0.8vw;
    background:#2a353d;
    position: relative;
    margin-right: 2%;
    
  }

  .right .skill_character ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#239bfc;
  }
  